@import "src/asset/scss/common/global";

#clip_page {
  width: 100%;
  min-height: 100vh;

  .rounded_border {
    @include border-radius(20px);
  }

  .layerContainer {
    .layerMyClip {
      padding: 16px 16px;
    }
  }

  .clipRegWrap {
    display: flex;
    margin: 16px 16px 0;

    button + button {
      margin-left: 4px;
    }

    .btnClip {
      width: 100%;
      height: 36px;
      border-radius: 10px;
      background-color: $primary;
      color: $white;
      font-weight: $bold;
      font-size: 14px;
      line-height: 1.86;
      letter-spacing: -0.35px;

      &::before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-right: 2px;
        vertical-align: -7px;
        background: url("#{$IMG_SERVER}/svg/record_purple.svg") no-repeat 0 0;
      }
      &:last-child {
        &::before {
          background: url("#{$IMG_SERVER}/svg/upload_purple.svg") no-repeat 0 0;
        }
      }
    }
  }

  // [ 내 클립 현황 ]
  .my_clip_wrap {
    padding: 11px 8px;
    margin: 15px 16px 0;
    background-color: $whiteGray;
    border-radius: 9px;

    header {
      h3 {
        em {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          margin-left: 4px;
          background: url("#{$IMG_SERVER}/clip/ico_infomyclip.svg") no-repeat
            center center;
          background-size: 24px 24px;
          cursor: pointer;
        }
      }
      button {
        @include flex(space-between, flex-start);
        min-width: 66px;
        height: 24px;
        margin-right: 6px;
        padding: 0 4px 0 8px;
        box-sizing: border-box;
        @include border-radius(16px);
        border: solid 1px $lightGray;
        font-size: 12px;
        color: $greishBrown;
        cursor: pointer;
      }
    }
  }

  // [ 인기 클립 ]
  .recommend_clip_wrap {
    padding: 24px 16px 0;

    header {
      margin-bottom: 11px;

      .time_box {
        @include flex("", flex-start);
        margin-left: auto;

        span {
          font-size: 12px;
          line-height: 1.08;
          letter-spacing: -0.3px;
          text-align: left;
          font-weight: $regular;
          color: $greishGray;
        }
      }

      .btn_refresh {
        width: 32px;
        height: 32px;
        margin-left: 8px;
        &.active {
          margin-left: 8px;
          animation: anim 0.36s;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    ul {
      @include flexbox;
      @include flex-wrap;
      margin-top: -10px;
      margin-left: -10px;

      li {
        position: relative;
        width: 31.3%;
        margin: 10px 0 0 2%;
        @include border-radius(16px);
        background-size: cover;
        overflow: hidden;
        cursor: pointer;

        .category_text {
          max-width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          @include border-radius(16px 0 16px 0);
          padding: 4px 7px;
          @include box-sizing;
          background: $black;
          font-size: 11px;
          letter-spacing: -0.28px;
          color: $white;
          @include multi-ellipsis(1);
        }

        .thumb {
          img {
            width: 100%;
          }
        }

        .nick {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 7px 12px;
          text-align: center;
          color: $white;
          background: rgba(0, 0, 0, 0.5);
          font-size: 14px;
          font-weight: $bold;
          @include multi-ellipsis(1);
          @include box-sizing;
        }
      }
    }
  }

  // [ 클립 랭킹 ]
  .rank_clip_wrap {
    padding: 24px 16px 0;

    header {
      margin-bottom: 11px;

      .button_box {
        @include flex("", flex-start);

        button {
          position: relative;
          padding: 0 6px;
          color: $black;
          font-weight: $bold;
          font-size: 16px;

          &.active {
            color: $primary;
          }
          &:hover {
            color: $primary;
          }

          &:first-child::after {
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            height: 12px;
            background: #b6b6b6;
            transform: translateY(-50%);
            content: "";
          }
        }
      }
    }

    ul {
      @include flexbox;

      li {
        overflow: hidden;
        width: 31.3%;
        text-align: center;
        cursor: pointer;

        &:nth-child(2) {
          margin-left: 3%;
          margin-right: 3%;
        }

        .thumb {
          position: relative;
          img {
            width: 100%;
          }

          &::after {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: url("#{$IMG_SERVER}/svg/play_w_Button.svg") no-repeat
              center center;
            content: "";
          }
        }

        &:nth-child(1) {
          .thumb {
            &::before {
              position: absolute;
              left: -2px;
              width: 40px;
              height: 45px;
              background: url("#{$IMG_SERVER}/images/clip_rank/medal_gold_b@2x.png")
                no-repeat;
              content: "";
              background-size: 100%;
            }
          }
        }
        &:nth-child(2) {
          .thumb {
            &::before {
              position: absolute;
              left: -2px;
              width: 32px;
              height: 36px;
              background: url("#{$IMG_SERVER}/images/clip_rank/medal_silver_b@2x.png")
                no-repeat;
              content: "";
              background-size: 100%;
            }
          }
        }
        &:nth-child(3) {
          .thumb {
            &::before {
              position: absolute;
              left: -2px;
              width: 32px;
              height: 36px;
              background: url("#{$IMG_SERVER}/images/clip_rank/medal_bronze_m@2x.png")
                no-repeat;
              content: "";
              background-size: 100%;
            }
          }
        }

        .title {
          margin-top: 10px;
          margin-bottom: 4px;
          font-size: 16px;
          font-weight: $bold;
          color: $greishBrown;
          @include multi-ellipsis(1);
        }

        .nick {
          font-size: 12px;
          color: $darkGray;
          @include multi-ellipsis(1);
        }
      }
    }
  }

  // [ 클립 페이지 배너 ]
  .banner_clip_wrap {
    padding: 30px 16px 0;

    .banner_slide {
      position: relative;
      .swiper-slide {
        width: 100%;
        cursor: pointer;

        img {
          width: 100%;
        }
      }

      &.active {
        display: none;
      }
      .banner {
        img {
          width: 100%;
          @include border-radius(16px);
        }
      }

      .swiper-container {
        // height: auto;
        .banner {
          img {
            width: 100%;
            @include border-radius(16px);
          }
        }
        .swiper-pagination-fraction {
          @include flex;
          bottom: 7px;
          right: 46px;
          left: auto;
          width: 45px;
          height: 24px;
          @include border-radius(24px);
          font-size: 12px;
          letter-spacing: 3px;
          background-color: rgba(0, 0, 0, 0.6);
          color: $white;
          .swiper-pagination-total {
            font-weight: $regular;
          }
        }
      }
    }

    .more_button {
      position: absolute;
      right: 11px;
      bottom: 7px;
      z-index: 2;
      width: 33px;
      height: 24px;
      @include border-radius(24px);
      background: $black url("#{$IMG_SERVER}/main/200714/ico-banner-down.svg")
        center no-repeat;

      &.active {
        background: $black url("#{$IMG_SERVER}/main/200714/ico-banner-up.svg")
          center no-repeat;
      }
    }

    .banner_list {
      display: none;
      &.active {
        display: block;
      }
      .banner_item {
        position: relative;
        margin-top: 10px;
        cursor: pointer;
        &:first-child {
          margin-top: 0;
        }
        img {
          width: 100%;
          @include border-radius(16px);
        }
      }
    }
  }

  // [ 주간 클립테이블 ]
  .week_clip_wrap {
    padding: 34px 16px 0;

    header {
      margin-bottom: 17px;

      .button_box {
        @include flex("", flex-start);
        font-size: 12px;

        button {
          position: relative;
          color: $black;

          &:hover {
            opacity: 1;
          }

          &.swiperBtn-prev,
          &.swiperBtn-next {
            @include flex("", flex-start);
            &:disabled {
              opacity: 0.4;
              &::before {
                opacity: 0.4;
              }
            }
          }
          &.swiperBtn-prev {
            padding-right: 7px;
            padding-left: 6px;
            &::before {
              width: 24px;
              height: 24px;
              background: url("#{$IMG_SERVER}/svg/arrow_left_b.svg") left center
                no-repeat;
              content: "";
            }
            &::after {
              display: block;
              position: absolute;
              right: 0;
              top: 50%;
              width: 1px;
              height: 12px;
              transform: translateY(-50%);
              background: #b6b6b6;
              content: "";
            }
          }
          &.swiperBtn-next {
            padding-left: 7px;
            padding-right: 6px;
            &::after {
              width: 24px;
              height: 24px;
              background: url("#{$IMG_SERVER}/svg/arrow_right_b.svg") right
                center no-repeat;
              content: "";
            }
          }
        }
      }
    }

    .swiper-slide {
      @include flex;
      flex-shrink: 0;
      max-width: 400px;
      padding: 4px;
      @include border-radius(52px);
      background: $whiteGray;
      cursor: pointer;

      .thumb {
        flex-shrink: 0;
        width: 80px;
        height: 80px;
        @include border-radius(50%);
        border: 2px solid $white;
        @include box-sizing;
        box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.16);
        overflow: hidden;

        img {
          width: 76px;
          height: 76px;
        }
      }

      .text_box {
        flex: 1;
        overflow: hidden;
        width: 160px;
        padding: 0 25px 0 10px;
        @include box-sizing;

        h4 {
          font-size: 17px;
          font-weight: $bold;
          color: $black;
          @include multi-ellipsis(1);
        }
        h5 {
          margin-top: 4px;
          font-size: 15px;
          color: $primary;
          @include multi-ellipsis(1);
        }
        p {
          font-size: 13px;
          color: $greishGray;
          @include multi-ellipsis(1);
        }
      }

      button {
        flex-shrink: 0;
        margin-right: 14px;
        text-indent: -9999px;
        width: 32px;
        height: 32px;
        background: url("#{$IMG_SERVER}/svg/play_Button_purple_w.svg") center
          no-repeat;
        background-size: 32px;
      }
    }
  }

  // [ 최신 클립 ]
  .recent_clip_wrap {
    padding-top: 34px;
    padding-bottom: 22px;

    header {
      padding: 0 16px;
      @include flex(column, "", flex-start);

      p {
        @include flex("", flex-start);
        margin-top: 5px;
        font-size: 12px;
        font-weight: $bold;
        letter-spacing: -0.3px;
        &::before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 4px;
          background: url("#{$IMG_SERVER}/clip/ico_hint_b.svg");
        }
      }
    }

    .swiper-container {
      padding: 15px 0 0 16px;
      @include box-sizing;
    }

    .swiper-slide {
      width: 27.5%;
    }

    .slide_box {
      flex-shrink: 0;
      position: relative;
      cursor: pointer;

      .thumb {
        img {
          width: 100%;
          @include border-radius(20px);
        }
      }

      .title {
        margin: 12px auto 0 auto;
        font-size: 16px;
        font-weight: $bold;
        text-align: center;
        line-height: 1.2;
        color: $greishBrown;
        @include multi-ellipsis(1);
      }

      .nick {
        margin: 4px auto 0 auto;
        font-size: 12px;
        text-align: center;
        font-weight: $bold;
        letter-spacing: normal;
        color: $darkGray;
        @include multi-ellipsis(1);
      }
    }
  }

  // [ 주제별 인기 클립 Top ]
  .top_category_wrap {
    background-color: $primary;

    .swiper-wrapper {
      // @include flex("", flex-start);
      padding: 16px 0;
    }

    .swiper-slide-active {
      // margin: 16px 0;
      // transform: scaleY(1);
      > .slide_box {
        transform: scaleY(1);
      }
    }

    .swiper-slide {
      width: 85%;
    }

    .slide_box {
      // width: 88%;
      // min-width: 360px;
      margin: auto;
      // margin: 0 16px;
      padding: 24px 25px;
      @include border-radius(20px);
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: $white;
      @include box-sizing;
      transform: scaleY(0.9);
      transition: transform ease 0.3s;

      // &.swiper-slide-active {
      //   margin: 16px 0;
      //   transform: scaleY(1);
      // }

      header {
        margin-bottom: 26px;

        h3 {
          font-size: 18px;
          margin-bottom: 10px;
          font-weight: $bold;
        }

        .button_box {
          @include flex(space-between, flex-start);

          p {
            font-size: 14px;
          }
          button {
            font-size: 14px;
            padding-right: 28px;
            background: url("#{$IMG_SERVER}/clip/ico_arrow_down_g.svg")
              no-repeat right;
          }
        }
      }
    }

    .top_item {
      @include flex("", flex-start);
      margin-bottom: 12px;
      z-index: 7;
      cursor: pointer;

      .rank_num {
        width: 20px;
        font-weight: $bold;
      }

      .thumb {
        width: 54px;
        height: 54px;
        margin-right: 8px;

        img {
          width: 100%;
          @include border-radius(12px);
        }
      }

      .title_box {
        width: calc(100% - 84px);

        .title,
        .nick {
          width: 100%;
          font-size: 14px;
          font-weight: $bold;
          @include multi-ellipsis(1);
        }

        .nick {
          padding-top: 4px;
          font-size: 12px;
          color: $greishGray;
          font-weight: $bold;
        }
      }
    }
  }

  // [ 실시간 클립 ]
  .live_clip_wrap {
    .sticky_area {
      padding: 16px 0 16px 16px;
      background-color: $white;
      @include box-sizing;
      z-index: 2;

      &.isFixed {
        top: 0;
        &.mWeb {
          top: 52px;
        }
      }
    }
    header {
      padding: 0 16px 8px 0;

      .rand_button {
        @include flex;
        height: 32px;
        padding-left: 6px;
        margin-left: 8px;
        @include border-radius(12px);
        border: solid 1px #bdbdbd;
        cursor: pointer;
        .button_text {
          font-size: 12px;
          font-weight: $bold;
          letter-spacing: -0.24px;
        }
      }

      .button_box {
        flex: 1;
        @include flex("", flex-end);

        button {
          &.grid_button {
            padding-left: 4px;
            padding-right: 8px;
          }
          &.refresh_button {
            padding-left: 8px;
            position: relative;
            .icon_refresh {
              width: 32px;
              height: 32px;
              &.active {
                animation: anim 0.36s;
              }
            }
            &:before {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -6px;
              width: 1px;
              height: 12px;
              background-color: $lightGray;
            }
          }
        }
      }
    }

    .swiper-container {
      .swiper_slide {
        width: auto;
        flex-shrink: 0;
        font-weight: $bold;
        padding: 0 11px;
        @include border-radius(12px);
        @include box-sizing;
        border: solid 1px $lightGray;
        line-height: 32px;
        font-size: 14px;
        color: $greishBrown;
        cursor: pointer;

        &--active {
          @extend .swiper_slide;
          color: $white;
          border: solid 1px $primary;
          background-color: $primary;
        }
      }
    }

    @keyframes anim {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .my_clip_list {
    @include flex("", flex-start);
    margin-top: 18px;

    li {
      @include flex(column);
      position: relative;
      width: 25%;
      border-right: 1px solid rgba(230, 230, 230, 0.8);
      cursor: pointer;

      &:last-child {
        border: none;
      }
      span {
        @include flex(column);
        font-size: 14px;
        font-weight: $bold;
        letter-spacing: -0.35px;
        text-align: center;
        color: $greishBrown;
        &:before {
          display: block;
          width: 32px;
          height: 32px;
          @include border-radius(50%);
          content: "";
        }
        &.regCnt {
          &:before {
            background: #1f9de6 url("#{$IMG_SERVER}/clip/ico_upload.svg")
              no-repeat center center / 24px;
          }
        }
        &.playCnt {
          &:before {
            background: #ffa929 url("#{$IMG_SERVER}/clip/ico_listen.svg")
              no-repeat center center / 24px;
          }
        }
        &.goodCnt {
          &:before {
            background: #ec455f url("#{$IMG_SERVER}/clip/ico_like.svg")
              no-repeat center center / 24px;
          }
        }
        &.byeolCnt {
          &:before {
            background: #994bff url("#{$IMG_SERVER}/clip/ico_gift.svg")
              no-repeat center center / 24px;
          }
        }
      }
    }
  }

  // [ 내 클립 현황 팝업 ]
  .overlay {
    .my_clip_list {
      @include flex(column);
      margin-top: 0;

      li {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        margin-bottom: 20px;
        border: 0;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      span {
        @include flex();
        font-size: 16px;
        font-weight: $bold;
        color: $black;
        &:before {
          margin-right: 8px;
        }
      }
      p {
        margin-top: 6px;
        font-size: 14px;
        font-weight: $regular;
        letter-spacing: normal;
        text-align: left;
        color: $darkGray;
      }
    }
  }

  // [ 상세조건 팝업 ]
  #clipDetailPopup {
    &.layerContainer {
      padding: 0px;
    }
    .content_wrap {
      position: relative;
      width: 100%;
      background-color: $white;
      @include border-radius(12px);

      .header_box {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $lightGray;
        height: 52px;

        .text {
          width: 100%;
          font-weight: 500;
          font-size: 18px;
          text-align: center;
        }
      }

      .inner_wrap {
        padding: 12px 16px 16px 16px;
        background: #eeeeee;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
      }

      .category_box {
        margin-bottom: 10px;

        h3 {
          display: flex;
          align-items: center;
          flex-direction: row;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 10px;
          color: $black;

          .infoTxt {
            margin-left: 4px;
            font-size: 12px;
            color: $black;
            font-weight: 400;
          }
        }

        .tab_box {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .tab_button {
            border: 1px solid $lightGray;
            @include border-radius(12px);
            font-size: 14px;
            color: $black;
            background: $white;
            width: 33%;
            line-height: 42px;
            height: 42px;
            align-content: space-between;
            box-sizing: border-box;
            text-align: center;
            font-weight: 500;
            // margin-top: 4px;
            margin-bottom: 4px;
            &.active {
              border-color: $primary;
              color: $primary;
            }
          }
        }
      }

      .button_box {
        margin-top: 21px;

        > button {
          display: block;
          width: 100%;
          @include border-radius(12px);
          background-color: $primary;
          color: $white;
          font-size: 18px;
          font-weight: 500;
          padding: 12px 0;
        }
      }
    }
  }
}
